<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" packages="org.appenders.log4j2.elasticsearch">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>
    <Appenders>
        <!-- File Appender -->
        <File name="FILE" fileName="${basePath}/logfile.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>
        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </Console>

	<!-- log4j2-elasticsearch -->
	<Elasticsearch name="elasticsearchAsyncBatch">
		<IndexName indexName="log4j2"/>
		<AsyncBatchDelivery>
			<JestHttp serverUris="http://akr-j28.nmfs.local:9200" />
		</AsyncBatchDelivery>
	</Elasticsearch>

	<!--
		more advanced setup.
	<Elasticsearch name="elasticsearchAsyncBatch">
		<JsonLayout compact="true" />
		<IndexName indexName="log4j2_testing"/>
		<AsyncBatchDelivery batchSize="10000" deliveryInterval="1000">
			<IndexTemplate name="testing_template" path="classpath:indexTemplate.json"/>
			<ElasticSearchBulkProcessor serverUris="tcp://akr-j28.nmfs.local:9300">
				<XPackAuth>
					<BasicCredentials username="admin" password="changeme"/>
					<PEM 	keypath="${sys:pemCertInfo.keyPath}"
						keyPassphrase="${sys.pemCertInfo.keyPassphrase}"
						clientCertPath="${sys:pemCertInfo.clientCertPath}"
						caPath="${sys:pemCertInfo.caPath}" />
				</XPackAuth>
			</ElasticSearchBulkProcessor>
			<NoopFailoverPolicy/>
		</AsyncBatchDelivery>
	</Elasticsearch>
	
	<Async name="asyncLogger">
		<AppenderRef ref="elasticsearchAsyncBatch" />
	</Async>
	-->

    </Appenders>


    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FILE" />
	    <AppenderRef ref="elasticsearchAsyncBatch" />
        </Root>
    </Loggers>

	<!--
		more advanced setup continued.
	<Loggers>
		<Logger name="org.elasticsearch.xpack.ssl.SSLService">
			<AppenderRef ref="CONSOLE"/>
		</Logger>
		<Logger name="org.elasticsearch.client.transport.TransportClientNodeService">
			<AppenderRef ref="CONSOLE"/>
		</Logger>
		<AsyncLogger name="elasticsearch" level="debug" additivity="false">
			<AppenderRef ref="asyncLogger" />
		</AsyncLogger>
		<Root level="debug" />
	</Loggers>
	-->
</Configuration>
